In [169]:
import math
import torch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [170]:
# reading csv file and converting to tensor
data = pd.read_csv(r'/Users/freddy/Desktop/CSV_FILES/USA_Housing.csv')
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [171]:
data.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [172]:
data.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

In [173]:
data.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [174]:
Add = data['Address']

In [175]:
data = data[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms','Avg. Area Number of Bedrooms', 'Area Population', 'Price']]

In [176]:
data.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price'],
      dtype='object')

In [177]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [178]:
# using normalization
a = (data['Avg. Area Income'].max())
b = (data['Avg. Area House Age'].max())
c = (data['Avg. Area Number of Rooms'].max())
d = (data['Avg. Area Number of Bedrooms'].max())
e = (data['Area Population'].max())
e = (data['Price'].max())
data['Avg. Area Income']=(data['Avg. Area Income']/(data['Avg. Area Income'].max()))
data['Avg. Area House Age']=(data['Avg. Area House Age']/(data['Avg. Area House Age'].max()))
data['Avg. Area Number of Rooms']=(data['Avg. Area Number of Rooms']/(data['Avg. Area Number of Rooms'].max()))
data['Avg. Area Number of Bedrooms']=(data['Avg. Area Number of Bedrooms']/(data['Avg. Area Number of Bedrooms'].max()))
data['Area Population']=(data['Area Population']/(data['Area Population'].max()))
data['Price']=(data['Price']/(data['Price'].max()))
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,0.738572,0.596996,0.651436,0.629231,0.331603,0.428921
1,0.735816,0.630617,0.625565,0.475385,0.577019,0.609903
2,0.569044,0.616224,0.791176,0.789231,0.529751,0.428902
3,0.588154,0.755139,0.519233,0.501538,0.492810,0.510564
4,0.556929,0.529521,0.728596,0.650769,0.378533,0.255539

In [179]:
data.shape

(5000, 6)

In [180]:
data1 = data.values

In [181]:
data1.shape

(5000, 6)

In [182]:
X_data = data1[:,:-1]
Y_data = data1[:,5:6]

In [183]:
print(X_data.shape)
Y_data.shape

(5000, 5)

(5000, 1)

In [184]:
X_data

array([[0.73857166, 0.5969964 , 0.65143646, 0.62923077, 0.33160345],
       [0.73581575, 0.63061711, 0.62556492, 0.47538462, 0.5770193 ],
       [0.56904431, 0.61622393, 0.79117594, 0.78923077, 0.52975081],
       ...,
       [0.58857621, 0.76168962, 0.44658595, 0.32769231, 0.4778128 ],
       [0.63138558, 0.58139901, 0.66267813, 0.83692308, 0.61224607],
       [0.60825922, 0.62950414, 0.63128215, 0.62615385, 0.66791352]])

In [185]:
Y_data

array([[0.42892079],
       [0.60990316],
       [0.42890233],
       ...,
       [0.41745735],
       [0.48546984],
       [0.5260899 ]])

In [186]:
X_train , X_test, Y_train , Y_test = train_test_split(X_data, Y_data, test_size =0.2 , random_state = 42)

In [187]:
print("X_train shape :", X_train.shape)
print("y_train shape :", Y_train.shape)
print("X_test shape :", X_test.shape)
print("y_test shape :", Y_test.shape)

X_train shape : (4000, 5)
y_train shape : (4000, 1)
X_test shape : (1000, 5)
y_test shape : (1000, 1)

In [188]:
model = linear_model.LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [189]:
Y_test_pred = model.predict(X_test)
Y_train_pred = model.predict(X_train)

In [190]:
from sklearn.metrics import r2_score
print("R^2 on training  data ",r2_score(Y_train_pred, Y_train))
print("R^2 on testing data ",r2_score(Y_test_pred,Y_test))

R^2 on training  data  0.910650157192823
R^2 on testing data  0.9111716453910641

In [191]:
score = model.score(X_test, Y_test) 
score

0.9179971706834331